* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* 1st page */


.container-fluid {
    padding: 1% 4%;
}

/* Nav Bar Starts page1 */

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.brand-logo {
    font-size: 3rem;
    color: rgb(255, 166, 0);
}

.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-size: 1.8rem;
}

.dropdown-menu {
    background-color: rgb(29, 27, 27);
    border-radius: 5%;
}

.dropdown-item {
    font-size: 1.6rem;
    text-align: left;
    color: white;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
}

/* Title image starts */

.title-image {
    position: relative;
    padding-top: 5rem;
    height: 75%;
    width: 100%;
}

h2 {
    font-size: 4rem;
    padding-top: 2%;
    text-align: center;
}

.row {
    padding-bottom: 2%;
}

.title-hr {
    padding-bottom: 10rem;
    color: white;
}


/* .flip-card {
    background-color: transparent;
    perspective: 1000px; 
    padding: 7% 5%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .flip-card-back {
    background-color: rgb(129, 171, 214);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  } */


/* AR cards */

.card {
    padding: 4% 7%;
    border: 0;
}

h3 {
    text-align: center;
    font-size: 3rem;
}

.scarl {
    height: 100rem;
}

p {
    font-size: 2rem;
}
