* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* 1st page */


.container-fluid {
    padding: 1% 4%;
}

/* Nav Bar Starts page1 */

.navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.brand-logo {
    font-size: 3rem;
    color: rgb(255, 166, 0);
}

.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-size: 1.8rem;
}

.dropdown-menu {
    background-color: rgb(29, 27, 27);
    border-radius: 5%;
}

.dropdown-item {
    font-size: 1.6rem;
    text-align: left;
    color: white;
    letter-spacing: .1rem;
    padding: 1rem 3rem;
}

/* Title image starts */

.title-image {
    position: relative;
    padding-top: 5rem;
    height: 75%;
    width: 100%;
}

h2 {
    font-size: 4rem;
    padding-top: 2%;
    text-align: center;
}

.row {
    padding-bottom: 2%;
}

.title-hr {
    padding-bottom: 10rem;
    color: white;
}

/* Cards */

.card {
    padding: 4% 7%;
    border: 0;
}

h3 {
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

.mp5k {
    height: 30rem;
}

.white-section {
    background-color: rgb(243, 47, 80);
    text-align: center;
    padding: 3%;
    color: white;
    font-size: 5rem;
}

.social-icon {
    margin: 3rem 1.5rem;
    font-size: 2rem;
}

.social-icon:hover {
    font-size: 2.4rem;
    cursor: pointer;
}